@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See All Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See All Locations", "Index", "Locations")</p>
<p>@Html.ActionLink("See All Engineers", "Index", "Engineers")</p>